.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 1000px;
}

.content_unlocked {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content_unlocked::-webkit-scrollbar {
  width: 12px;
}

.content_unlocked::-webkit-scrollbar-track {
  background: #2f2f37;
}
.content_unlocked::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.content_unlocked::-webkit-scrollbar-button {
  display: none;
}

.element {
  display: flex;
  align-items: center;
}

.payment {
  display: flex;
  justify-content: end;
}

.price {
  display: flex;
  align-items: center;
}

.bun_top {
  width: 536px;
  height: 80px;
  border-radius: 50px 50px 30px 30px;
  text-align: center;
}

.bun_bottom {
  width: 536px;
  height: 80px;
  border-radius:  30px 30px 50px 50px;
  text-align: center;
}

.ingredients {
  width: 536px;
  height: 100%;
  border-radius:  50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #4C4CFF;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}