.content {
  width: 584px;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.content::-webkit-scrollbar {
  width: 12px;
}

.content::-webkit-scrollbar-track {
  background: #2f2f37;
}
.content::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.message {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}