.order {
  width: 100%;
  border-radius: 40px;
  background-color: #1c1c21;
  box-sizing: border-box;
}

.info_card {
  display: flex;
  justify-content: space-between;
}

.info_order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  display: flex;
  align-items: center;
}

.ingredients {
  display: flex;
  position: relative;
}

.ingredient {
  border: 3px solid #4c4cff;
  background-color: #131316;
  border-radius: 100%;
  width: 54px;
  height: 54px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  margin-left: -20px;
}

.ingredient:first-child {
  margin-left: 0;
  z-index: 1;
}

.ingredient:nth-child(2) {
  z-index: 0;
}

.ingredient.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 0;
  position: relative;
}

.ingredient.overlay .img {
  filter: blur(0.5px);
}
.ingredient.overlay > span {
  opacity: 1;
  position: absolute;
  color: white;
  z-index: 1;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  text-decoration: none;
  color: white;
}